@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/grid";

@theme {
  --color-brownText: #666155;
  --color-brownBg: #f8f1e5;
  --color-orange1: #ffeed1;
  --color-orange2: #f1ca87;
  --color-orange3: #ffe6b9;
  --color-orange4: #ffe7b9;
  --color-orange5: #fff5e3;
  --color-beige0: #fefcfa;
  --color-beige1: #fffbf3;
  --color-purple1: #ebd8f5;
  --color-purple2: #a579cd;
  --color-purple3: #e8d3ef;
  --color-deepPurple: #4b2473;
}

p {
  font-weight: 200;
}

